# Virtual Environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (sensitive aur bade files)
*.csv
*.parquet
data/
*.zip

# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc